<div class="top-row ps-3 navbar">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="">
            <span>🌿</span> SmartPots
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler eco-hamburger" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon">🏠</span> Головна
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="add-pot">
                <span class="nav-icon">➕</span> Додати рослину
            </NavLink>
        </div>

        <div class="nav-item mt-auto">
            <NavLink class="nav-link" href="settings">
                <span class="nav-icon">⚙️</span> Налаштування
            </NavLink>
        </div>
    </nav>
</div>